<html>
<head>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <style>
        .double-box {
        display: inline-block;
        width: 45%;
        height: 65%;
        margin: 5px;

        }
        .single-box {
        display: inline-block;
        width: 90%;
        height: 90%;
        margin: 5px;
        }
    </style>
</head>

<body>
<!-- Single Image  
<div class="single-box"><img style="height:inherit" src="images/lionandcub.jpg"  /></div>
-->

<!-- Double Image  
-->
<div style="text-align:center;">
<div class="double-box" id="div-1">
<!--<img id="image-1" style="height:inherit;width:fill;" src="images/lionandcub.jpg"  /></div>
-->
<div class="double-box" id="div-2">
<!-- <img id="image-2" style="height:inherit;width:fill;" src="images/lionandcub.jpg"  /></div>
-->
<span id="text-1"></span>
</div>

<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on( 'update', function( data ) { // Receive new update with data
        console.log( data ); // Received data

        if( data[0] == 'picture' ) {
            changeClass( 'div-1', 'single-box' );
            updateImage( 'image-1', data[2] );
        } else if( data[0] == 'word' ) {
            changeClass( 'div-1', 'double-box' );
            updateText( 'text-1', data[2] );
        }
    });

    // Given an HTML image's id, update the url of the image
    function updateImage( id, url ) {
        var imageTag = document.getElementById( id );
        
        if( !imageTag )
            return false;

        imageTag.src = url;
        return true;
    }

    // Given an HTML span's id, update the text in the span
    function updateText( id, text ) {
        var textTag = document.getElementById( id );

        if( !textTag )
            return false;

        textTag.innerText = text;
        return true;
    }

    // Given a div's id, change the class of the div 
    function changeClass( id, newClass ) {
        var div = document.getElementById( id );

        if( !div )
            return false;

        div.className = newClass;
        return true;
    }

</script>

</body>
</html>
